{% extends 'Rms_mainpage.html' %}
{%load crispy_forms_tags %}
{% load plotly_dash %}

 
<!DOCTYPE html>  
<html lang="en">  

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<body>  
    
{% block content %}
<div class="row">
    <div class="col-md-6 col-12">
        <div class="card" style="margin-top: 10px;">
            <div class="card-body">
                {% plotly_app name="example" ratio=0.95 %}
            </div>
        </div>
    </div>
</div>        
</div>







{% endblock %}
</body>  

</html>  